nav {
    z-index: 3;
  }
  
  header {
    z-index: 2;
  }
  
  #nav-bg {
    z-index: 1;
  }
  
  body {
    background: #eee;
  }
  
  nav {
    position: fixed;
    top: 0;
  }
  
  header {
    position: relative;
    background-color: black;
    padding: 1em;
    height: 100vh;
  }

  header:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/landing-unsplash-desk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65% 50%;
    opacity: 0.35;
  }
  
  #nav-bg {
    background: #03a9f4;
    position: fixed;
    height: 65px;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  
  header h1 {
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    padding-top: 26vh;
  }

  header p {
    text-align: center;
    font-size: 2em;
    font-weight: 200;
  }

  #about{
      position: relative;
      margin-top: -18vh;
      z-index: 50;
  }
